			html,body{
				height:100%;
				padding: 0px;
				position:relative;
				font-family: 'Alef', sans-serif;
			}
			.images_wrap{
				padding:0px;
			}
			.main_wrap,.images_list.images_wrap,.text_wrap, #container{
				height:100%;
			}
			.images_list{
				z-index:5;
				position:relative;
			}
			.main_wrap.row{
				margin:0px;
			}
			.main_wrap{	
				background-position:center center;
				background-repeat:no-repeat;
				background-size:100% 100%;
			}
			.text_wrap{
				/*background: rgba(255, 255, 255, 0.7);*/
				background:url(../images/congruent_pentagon.png);
				overflow:hidden;
				border-left: 1px solid rgba(255, 255, 255, 1);
				box-shadow: 1px 4px 10px 0px #000,inset 5px 0px 5px rgba(255, 255, 255, 0.55);
			}
			h3.page_title span{
				display:block;
				width:100%;
			}
			h3.page_title {
			background: rgba(77, 228, 255, 0.7);
			font-weight:700;
			margin: 0px;
			line-height:60px;
			font-size: 35px;
			padding: 10px;
			text-align: center;
			color: rgb(16, 33, 45);
			text-shadow: 0px 5px 0px rgba(255, 255, 255, 0.6),0px -2px 0px rgba(255, 255, 255, 0.6),0px -3px 8px rgba(255, 255, 255, 0.6);
			border-bottom: 3px solid #FFF;
			box-shadow: 0px -1px 10px 0px #3A3A3A,inset 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
			}
			.chat_list,.chat_list li{
				margin:0px;
				list-style:none;
				padding:0px;
			}
			
			.chat_list li{
				-webkit-transition: all 1s ease-in-out;
				  -moz-transition: all 1s ease-in-out;
				  -o-transition: all 1s ease-in-out;
				  transition: all 1s ease-in-out;
			}
			
			.chat_list li .cnt{
				list-style:none;
				position: relative;
				padding: 0.8em;
				text-shadow: 0px 0px 0px #000;
				font-weight: 400;
				text-align:right;
				margin: 1em 0.5em ;
				border: 2px solid #5a8f00;
				color: #333;
				background: #fff;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				color:#000;
				font-size:14px;
			}
			.chat_list li.left .cnt{
				
				background-color:#ECFEFF;
				border-color:#1b639e;
			}
			.chat_list li.right .cnt{
				background-color:#fff5d5;
				border-color:#e2ae0e;
			}
			.chat_list li .cnt:before {
			content: "";
			position: absolute;
			bottom: -20px;
			left: 40px;
			border-width: 20px 20px 0;
			border-style: solid;
			border-color: #1b639e transparent;
			display: block;
			width: 0;
			}
			.chat_list li .cnt:after {
			content: "";
			position: absolute;
			bottom: -13px;
			left: 47px;
			border-width: 13px 13px 0;
			border-style: solid;
			border-color: #fff transparent;
			display: block;
			width: 0;
			}
			.chat_list li.right .cnt:before {
			top: 15px;
			bottom: auto;
			left: auto;
			right: -18px;
			border-width: 10px 0 10px 18px;
			border-color: transparent #e2ae0e;
			}
			.chat_list li.left .cnt:before {
			top: 15px;
			bottom: auto;
			left: -18px;
			border-width: 10px 18px 10px 0;
			border-color: transparent #1b639e;
			}
			.chat_list li.right .cnt:after {
				top: 17px;
				bottom: auto;
				left: auto;
				right: -15px;
				border-width: 8px 0 8px 15px;
				border-color: transparent #fff5d5;
			}
			.chat_list li.left .cnt:after {
				top: 17px;
				bottom: auto;
				left: -15px;
				border-width: 8px 15px 8px 0;
				border-color: transparent #ECFEFF;
			}
			canvas#particles{
				position:absolute;
				top:0px;
				left:0px;
				z-index:1;
			}
			
			@media screen and (max-width: 640px) {
				h3.page_title{
					font-size: 16px;
					line-height: 30px;
				}
				.chat_list li .cnt{
					font-size:14px;
				}
			}
			
		@media screen and (min-width: 1400px) {
			h3.page_title{
				font-size: 55px;
				line-height: 110px;
			}
			.chat_list li .cnt{
				font-size:20px;
			}
		}